@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap");

/* ------------------ COMMON STYLES ------------------ */

* {
    font-family: "Montserrat", sans-serif;
}

:root {
    --asu-red: #ff1552;
    --asu-red__opacity: rgba(255, 21, 82, 0.9);
    --asu-red__low_opacity: rgba(255, 21, 82, 0.6);
    --asu-orange: #ff8e00;
    --asu-orange__opacity: rgba(255, 142, 0, 0.9);
    --asu-orange__low_opacity: rgba(255, 142, 0, 0.6);
    --asu-green: #97bd00;
    --asu-green__opacity: rgba(151, 189, 0, 0.9);
    --asu-green__low_opacity: rgba(151, 189, 0, 0.6);
    --asu-blue: #008ad5;
    --asu-blue__opacity: rgba(0, 138, 213, 0.9);
    --asu-blue__low_opacity: rgba(0, 138, 213, 0.6);
    --asu-dark-blue: #004aab;
    --asu-adv-blue: #004b74;
}

/* Borders */
.border-blue {
    border-color: var(--asu-blue) !important;
    border-width: 1px;
    border-style: solid;
}
.border-green {
    border-color: var(--asu-green) !important;
    border-width: 1px;
    border-style: solid;
}
.border-orange {
    border-color: var(--asu-orange) !important;
    border-width: 1px;
    border-style: solid;
}
.border-red {
    border-color: var(--asu-red) !important;
    border-width: 1px;
    border-style: solid;
}

/* Text colors */
.text-blue {
    color: var(--asu-blue) !important;
}
.text-green {
    color: var(--asu-green) !important;
}
.text-orange {
    color: var(--asu-orange) !important;
}
.text-red {
    color: var(--asu-red) !important;
}

.text-white {
    color: #fafafa !important;
}

.text-black {
    color: #292929 !important;
}

/* Backgrounds */
.bg-blue {
    background-color: var(--asu-blue) !important;
}
.bg-green {
    background-color: var(--asu-green) !important;
}
.bg-orange {
    background-color: var(--asu-orange) !important;
}
.bg-red {
    background-color: var(--asu-red) !important;
}

/* Bars */
.bar-red {
    background-color: var(--asu-red__low_opacity) !important;
}

.bar-green {
    background-color: var(--asu-green__low_opacity) !important;
}

.bar-orange {
    background-color: var(--asu-orange__low_opacity) !important;
}

.bar-blue {
    background-color: var(--asu-blue__low_opacity) !important;
}

/* Lists  */

ul.list-red > li::marker,
ol.list-red > li::marker {
    color: var(--asu-red__opacity) !important;
}

ul.list-green > li::marker,
ol.list-green > li::marker {
    color: var(--asu-green__opacity) !important;
}

ul.list-blue > li::marker,
ol.list-blue > li::marker {
    color: var(--asu-blue__opacity) !important;
}

ul.list-orange > li::marker,
ol.list-orange > li::marker {
    color: var(--asu-orange__opacity) !important;
}

/* Links */

a.link-red {
    color: var(--asu-red__low_opacity) !important;
}

a.link-red:hover {
    color: var(--asu-red) !important;
    outline: 1px solid var(--asu-red__low_opacity);
}

a.link-green {
    color: var(--asu-green__low_opacity) !important;
}

a.link-green:hover {
    color: var(--asu-green) !important;
    outline: 1px solid var(--asu-green__low_opacity);
}

a.link-orange {
    color: var(--asu-orange__low_opacity) !important;
}

a.link-orange:hover {
    color: var(--asu-orange) !important;
    outline: 1px solid var(--asu-orange__low_opacity);
}

a.link-blue {
    color: var(--asu-blue__low_opacity) !important;
}

a.link-blue:hover {
    color: var(--asu-blue) !important;
    outline: 1px solid var(--asu-blue__low_opacity);
}

/* Tables */
table.table-red,
table.table-red th,
table.table-red tr,
table.table-red td {
    border-color: var(--asu-red__opacity) !important;
    border: 1px solid;
}
table.table-red caption {
    color: var(--asu-red) !important;
}
table.table-blue,
table.table-blue th,
table.table-blue tr,
table.table-blue td {
    border-color: var(--asu-blue__opacity) !important;
    border: 1px solid;
}
table.table-blue caption {
    color: var(--asu-blue) !important;
}

table.table-green,
table.table-green th,
table.table-green tr,
table.table-green td {
    border-color: var(--asu-green__opacity) !important;
    border: 1px solid;
}
table.table-green caption {
    color: var(--asu-green) !important;
}
table.table-orange,
table.table-orange th,
table.table-orange tr,
table.table-orange td {
    border-color: var(--asu-orange__opacity) !important;
    border: 1px solid;
}
table.table-orange caption {
    color: var(--asu-orange) !important;
}

*{
    margin: 0;
    padding: 0;
}